{{#resume.basics}}
  <header id="header" class="clear">

    {{#if image}}
      <img class="image" src="{{image}}" alt="{{name}}" />
      <div class="middle">
        <h1 class="name">{{name}}<a href="https://github.com/IsFilimonov/jsonresume-theme-fullmoon" target="_blank">🌑🌕</a></h1>
        <h2 class="label">{{label}}</h2>
      </div>
    {{else}}
      <div>
        <h1 class="name">{{name}}<a href="https://github.com/IsFilimonov/jsonresume-theme-fullmoon" target="_blank">🌑🌕</a></h1>
        <h2 class="label">{{label}}</h2>
      </div>
    {{/if}}

    {{#location}}
      <span class="location fas fa-map-marker-alt">

        {{#if address}}
          <span class="address">{{address}},</span>
        {{/if}}

        {{#if postalCode}}
          <span class="postalCode">{{postalCode}},</span>
        {{/if}}

        {{#if city}}
          <span class="city">{{city}},</span>
        {{/if}}

        {{#if region}}
          <span class="region">{{region}},</span>
        {{/if}}

        {{#if countryCode}}
          <span class="countryCode">{{countryCode}}</span>
        {{/if}}
      </span>

      {{#conditions}}

        <span class="conditionRemote fas fa-laptop">
          <span class="remote">
            {{#if remote}}Remote
            {{else}}<s>Remote</s>
            {{/if}}
          </span>
        </span>

        <span class="conditionOffice fas fa-building">
          <span class="remote">
            {{#if office}}Office
            {{else}}<s>Office</s>
            {{/if}}
          </span>
        </span>

        <span class="conditionRelocate fas fa-plane">
          <span class="relocate">
            {{#if relocate}}Relocate
            {{else}}<s>Relocate</s>
            {{/if}}
          </span>
        </span>

        <span class="conditionBusinessTrips fas fa-suitcase">
          <span class="businessTrips">
            {{#if businessTrips}}Business trips
            {{else}}<s>Business trips</s>
            {{/if}}
          </span>
        </span>

      {{/conditions}}
    {{/location}}

    {{#birthDate birth}}{{/birthDate}}

    <div id="contact">
      {{#if url}}
        <div class="url">
          <span class="fas fa-external-link-alt"></span>
          <a
            class="hide-href-print"
            target="_blank"
            href="{{url}}"
          >{{url}}</a>
        </div>
      {{/if}}
      {{#if email}}
        <div class="email">
          <span class="far fa-envelope"></span>
          <a class="hide-href-print" href="mailto:{{email}}">{{email}}</a>
        </div>
      {{/if}}
      {{#if phone}}
        <div class="phone">
          <span class="fas fa-mobile-alt"></span>
          <a class="hide-href-print" href="tel:{{phone}}">{{phone}}</a>
        </div>
      {{/if}}
    </div>

    {{#if profiles.length}}
      <div id="profiles">

        {{#each profiles}}
          {{#if url}}
            <div class="item">

              {{#if network}}
                <div class="username">
                  <span
                    class="fab fa-{{spaceToDash network}}
                      {{spaceToDash network}}
                      social"
                  ></span>
                  {{#if url}}
                    <span class="url">
                      <a target="_blank" href="{{url}}">{{username}}</a>
                    </span>
                  {{else}}
                    <span>{{username}}</span>
                  {{/if}}
                </div>
              {{/if}}

              {{#if link}}
                <div class="link">
                  <span class="fas fa-link social"></span>
                  <span class="url">
                    <a target="_blank" href="{{url}}">{{link}}</a>
                  </span>
                </div>
              {{/if}}

              {{#if file}}
                <div class="file">
                  <span class="fas fa-paperclip social"></span>
                  <span class="url">
                    <a target="_blank" href="{{url}}">{{file}}</a>
                  </span>
                </div>
              {{/if}}

            </div>
          {{/if}}
        {{/each}}
      </div>
    {{/if}}
  </header>

  {{#if summary}}
    <section class="section">
      <section class="main-summary">
        <div>
          {{paragraphSplit summary}}
        </div>
      </section>
    </section>
  {{/if}}

{{/resume.basics}}